.landing{
    background-image: url(./assets/backgrounds/h_img.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 14%; 
    padding-bottom: 5%;
    color: white;
}
.landing h1{
    padding-top: 2%;
}
#mouse{
    margin-top: 10%;
}
#about{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.services{
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    padding: 7%;
}
.whatwedo {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.icons{
    display: flex;
    text-align: center;
}
.portfolio img{
    width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.portfolio{
    text-align: center;
    margin-bottom: 20px;    
}
.contact{
    background-image: url(./assets/backgrounds/c_image.jpg);
    color: white;
    text-align: center;
    padding: 3%; 
}
.contactform form{
    color: white;
}

#name, #email{
    width: 30%;
    color: white;
    margin-top: 2%;
    margin-right: 2%;
    opacity: 0.4;
    border: 2px solid white;
    
}
#message{
    width:59%;
    height: 300px;
    margin-top: 2%;
    opacity: 0.2;
    border: 2px white;
    
}
.footer{
    padding-top: 2%;
    text-align: center;
}
.footer p{
    padding-top: 2%;
    font-size: small;
}


