

.landing{
    background-image: url(./assets/backgrounds/h_img.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 14%; 
    padding-bottom: 5%;
    color: white;
}
.landing h1{
    padding-top: 2%;
}
#mouse{
    margin-top: 10%;
}
#about{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.services{
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    padding: 7%;
}
.whatwedo {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.icons{
    display: flex;
    text-align:center;
    justify-content:space-evenly;

}
#destxt, #develtxt, #producttxt{
    display:none;
    height: fit-content;
    width:fit-content;
    
}

.portfolio img{
    width: 95%;
   
}
.portfolio{
    display: flex;
    text-align: center;
    margin-bottom: 20px;    
}
.contact{
    background-image: url("./assets/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover ;
    color: white;
    text-align: center;
    padding: 3%; 
}

input[type="text"], input[type="email"], #message{
    border: 2px solid white;
    background: transparent;
    
}
#button{
    border: 2px solid white;
    background: transparent;
    color: white;

}

#name, #email{
    width: 30%;
    color: white;
    margin-top: 2%;
    margin-right: 2%;
    border: 2px solid white;
    
}
#message{
    width:59%;
    height: 300px;
    margin-top: 2%;
    
 }

 #name::placeholder, #email::placeholder, #message::placeholder{
    color: white;
}
    

.footer{
    padding-top: 2%;
    text-align: center;
}
.footer p{
    padding-top: 2%;
    font-size: small;
}

#project{
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Otomanopee One', sans-serif;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


